<aside class="left step-one">
	<nav>
		<ul>
			<li>
				<a {{action "setMode" "path"}} href="#">Draw</a>
			</li>
			<li>
				<a {{action "undoPath"}} href="#">Undo</a>
			</li>
			<li>
				<a {{action "deletePath"}} href="#">Delete All</a>
			</li>
		</ul>
	</nav>
</aside>