<aside class="left step-one">
	<nav>
		<ul>
			<li>
				<a {{action "setMode" "rect"}} href="#">Rectangle</a>
			</li>
			<li>
				<a {{action "undoPath"}} href="#">Undo</a>
			</li>
			<li>
				<a href="#">Delete All</a>
			</li>
		</ul>
	</nav>
</aside>