
<div id="wrap">
  <header>
    <h1><a href="#">British Standard Cupboards by Plain English</a></h1>
  </header>
  <main>
    <section class="wrapper">
      <h2>Loading the editor</h2>
      <p>Please wait while we set up your floor plan
    </section>
  </main>
</div>
