<div id="wrap">
    	<aside class="toolbar">
			<button class="display"></button>
		</aside>
		<header>
			<h1><a href="#">British Standard Cupboards by Plain English</a></h1>
		</header>
		<main>
			
			<section class="wrapper">
				<h2>Create Your Kitchen Area</h2>
				<menu class="clearfix center">
					{{#link-to "step-one.draw"}}
					<button><img src="img/step1image1.png" />
						<p>Square/Rectangle</p>
					</button>
					{{/link-to}}
					<button href="step2.html">
						<img src="img/step1image2.png" />
						<p>Draw a custom shape</p>
					</button>
				</menu>
			</section>
		</main>
		</div>
		