<aside class="left step-one">
	<nav>
		<ul>
			<li>
				<a {{action "setMode" "path"}} href="#">
					<img src="/img/draw.png" />
					Draw</a>
			</li>
			<li>
				<a {{action "undoPath"}} href="#">
					<img src="/img/undo.png" />
					Undo</a>
			</li>
			<li>
				<a {{action "deletePath"}} href="#">
					<img src="/img/deleteall.png" />
					
					Delete All</a>
			</li>
		</ul>
	</nav>
</aside>
