{{#if model}}
{{#each product in model}}
<li {{action "selectProduct" product}}>
	<img {{bind-attr src=product.sidebar_image}}/>
    <span>{{product.sku}}</span>
</li>
{{/each}}
{{else}}
<li>No products</li>
{{/if}}
