<div id="wrap">
    	<aside class="toolbar">
			<button class="display"></button>
		</aside>
		<header>
			<h1><a href="#">British Standard Cupboards by Plain English</a></h1>
		</header>
		<main>
			
			<section class="wrapper">
				<h2>Create Your Kitchen Area</h2>
				<menu class="clearfix center">
					
					<button {{action chooseMethod "rectangle"}}><img src="img/step1image1.png" />
						<p>Square/Rectangle</p>
					</button>
					
					<button {{action chooseMethod "draw"}}>
						<img src="img/step1image2.png" />
						<p>Draw a custom shape</p>
					</button>
					
				</menu>
			</section>
		</main>
		</div>
		