 <!--[if lte IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrap">
		<header>
			<h1><a href="#">British Standard Cupboards by Plain English</a></h1>
		</header>
		<main>
			<section class="wrapper">
				<h2>Welcome to the british standard Kitchen planner</h2>
				<p>Draw your kitchen area and create your perfect british standard kitchen. Drag and drop your kitchen cupboards and design it how you want.</p>
				<menu class="home center clearfix">
					<button href="step1.html">Create a new design</button>
					<button>Open a saved plan</button>
				</menu>
			</section>
		</main>
		</div>
		<footer>
			<nav class="wide">
				<ul>
					<li><a class="active" href="#">Dimensions <br> <span class="circle">1</span></a></li>
					<li><a href="#">Design <br> <span class="circle">2</span></a></li>
					<li><a href="#">Save <br> <span class="circle">3</span></a></li>
					<li><a href="#">Order <br> <span class="circle">4</span></a></li>
				</ul>
			</nav>
		</footer>